<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vishnu.dao.UserDao">

    <update id="saveUser" parameterType="com.vishnu.model.User">
    INSERT INTO T_USER VALUES (U_ID_SEQ.nextval,#{u_name},#{u_pass})
</update>
    <update id="updateUser" parameterType="com.vishnu.model.User">
        UPDATE T_USER SET U_NAME=#{u_name},u_pass=#{u_pass} where u_id=#{u_id}
    </update>
    <select id="getUserByNameAndPass" resultType="com.vishnu.model.User" parameterType="com.vishnu.model.User">
        SELECT * FROM T_USER WHERE U_NAME=#{u_name} and u_pass=#{u_pass}
    </select>
    <select id="getUserById" resultType="com.vishnu.model.User">
        SELECT * FROM T_USER WHERE U_ID=#{uid}
    </select>
</mapper>